{% extends 'base.html' %}

{% block title %}
Summarize
{% endblock %}

{% block content %}
<form action="{{url_for('main.summarize')}}" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">제목 (Optional)</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">요약할 원문</label>
    <textarea class="form-control" id="content" name='content' rows="5" placeholder="한글 2000자 이내만 가능합니다 (제목 포함)"></textarea>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">요약하기</button>
  </div>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ol>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ol>
{% endif %}
{% endwith %}
{% endblock %}